
<div class="container">
    <section class='input-section'>
        <div class="input-register">
            <label class="label">Nro. de tarjeta de ingreso:</label>
            <form [formGroup]='visitForm' class='form'>
                <div class="desktop-container">
                    <input type="number" min='0'  class="form-control" name="tarjet" formControlName="tarjet"/>
                    <div class="timestamp">
                        <div>
                            <label>Fecha de Ingreso</label>
                            <span>date</span>
                        </div>
                        <div>
                            <label>Hora de Ingreso</label>
                            <span>time</span>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="select-menu">
                        <label class="label">Visita a:</label>
                        <select class="select-tarjet">
                            <option
                                selected
                                *ngFor="let user of users"
                                [value]="user.id"
                            >
                                {{ user.name }} {{user.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="select-menu">
                        <label class="label">Sector:</label>
                        <select class="select-tarjet">
                            <option
                                selected
                                *ngFor="let sector of sectors"
                                [value]="sector.id"
                            >
                                {{ sector.department }}
                            </option>
                        </select>
                    </div>

                </div>
                <button (click)="register()">Ingresar</button>
            </form>
        </div>
    </section>
</div>